<!doctype html>
<html lang="en">
  <head>
    <title>Football - Live Scores</title>

    <%- include('partials/tags.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <!-- Heading -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <% if(locals.sport) %>
            <h3 class="text-capitalize">Top <%= locals.sport %> Leagues</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Heading -->

    <section>
      <div class="container">
        <div class="row">

          <div class="col">
            <% if(locals.response) { %>
              <% for(var i = 0; i < response[1].length; i++) { %>
                <p class="small font-weight-bold"><%= response[1][i].country_name %></p>
                <% for(var j = 0; j < response[1].length; j++) { %>
                  <% if(response[1][i].country_key == response[1][j].country_key) { %>
                    <a href="league/<%= response[1][j].league_key %>"><%= response[1][j].league_name %></a>
                    <div class="pb-3"></div>
                  <% } %>
                <% } %>
              <% } %>
            <% } else { %>
              No league data for <%= locals.sport %> returned.
            <% } %>
          </div>

        </div>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>