<!doctype html>
<html lang="en">
  <head>
    <title>Football - Live Scores</title>

    <%- include('partials/tags.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <!-- Heading -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <% if(locals.sport) %>
            <h3 class="text-capitalize">Live <%= locals.sport %> Scores</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Heading -->

    <div class="pb-2"></div>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-lg-3 col-xl-3"></div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            <% if(locals.response.result) { %>
              <% for(var i = 0; i < response.result.length; i++) { %>
                <p class="small font-weight-bold"><%= response.result[i].event_date_start %></p>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="small font-italic"><a href="./league/<%= response.result[i].league_key %>"><%= response.result[i].league_name %></a></h6>
                  <h6 class="small font-italic">Start: <%= response.result[i].event_time %></h6>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h6 class="small text-muted text-center">35'</h6>
                    <div class="row">
                      <div class="col d-flex align-items-center justify-content-start">
                        <p class="small card-text text-left"><%= response.result[i].event_home_team %></p>
                      </div>
                      <div class="col d-flex align-items-center justify-content-center">
                        <h3 class="card-text text-center">1 - 0</h3>
                      </div>
                      <div class="col d-flex align-items-center justify-content-end">
                        <p class="small card-text text-right"><%= response.result[i].event_away_team %></p>
                      </div>
                    </div>
                    <!-- <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
                  </div>
                </div>
                <div class="pb-5"></div>
              <% } %>

            <!-- Default (if live) -->
            <p class="small font-weight-bold">DD MMMM YYYY</p>
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="small font-italic"><a href="#">League Name</a></h6>
              <h6 class="small font-italic">Start: Time</h6>
            </div>
            <div class="card">
              <div class="card-body">
                <h6 class="small text-muted text-center">FT</h6>
                <div class="row">
                  <div class="col d-flex align-items-center justify-content-start">
                    <p class="small card-text text-left">HOME</p>
                  </div>
                  <div class="col d-flex align-items-center justify-content-center">
                    <h3 class="card-text text-center">9 - 9</h3>
                  </div>
                  <div class="col d-flex align-items-center justify-content-end">
                    <p class="small card-text text-right">AWAY</p>
                  </div>
                </div>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
            <!-- Default (if live) -->

            <div class="pb-5"></div>

            <!-- Default (not live) -->
            <p class="small font-weight-bold">DD MMMM YYYY</p>
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="small font-italic"><a href="#">League Name</a></h6>
            </div>
            <div class="card">
              <div class="card-body">
                <h6 class="small text-muted text-center">DD MMMM YYYY</h6>
                  <div class="row">
                    <div class="col d-flex align-items-center justify-content-start">
                      <p class="small card-text text-left">HOME</p>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">
                      <h5 class="card-text text-center">23:30</h5>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                      <p class="small card-text text-right">AWAY</p>
                    </div>
                  </div>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
            <!-- Default (not live) -->
            <% } else { %>
              <p class="text-muted pt-2 text-justify">
                There are no live matches for <%= locals.sport %> at this time. Please check back later for latest fixtures.
              </p>
            <% } %>
          </div>
          <div class="col-md-2 col-lg-3 col-xl-3"></div>
        </div>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>