<!doctype html>
<html lang="en">
  <head>
    <title>Football - Live Scores</title>

    <%- include('partials/tags.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <!-- Heading -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <% if(locals.sport) %>
            <h3 class="text-capitalize">Live <%= locals.sport %> Scores</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Heading -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-lg-4 col-xl-3"></div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4 col-xl-6">
            <% if(locals.response) { %>
            <p class="small font-weight-bold">6 Aug 2019</p>
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="small font-italic"><a href="#">Premier League</a></h6>
              <h6 class="small font-italic">Start: 1830</h6>
            </div>
            <div class="card">
              <div class="card-body">
                <h6 class="small text-muted text-center">35'</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="card-text text-left">FC Barcelona</h6>
                  <h1 class="card-text text-center">1 - 0</h1>
                  <h6 class="card-text text-right">Juventus</h6>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>
            <div class="pb-5"></div>

            <!-- Default -->
            <p class="small font-weight-bold">DD MMMM YYYY</p>
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="small font-italic"><a href="#">League Name</a></h6>
              <h6 class="small font-italic">Start: Time</h6>
            </div>
            <div class="card">
              <div class="card-body">
                <h6 class="small text-muted text-center">FT</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="card-text text-left">HOME</h6>
                  <h1 class="card-text text-center">0 - 1</h1>
                  <h6 class="card-text text-right">AWAY</h6>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>
            <!-- Default -->
            <% } else { %>
              No live sports data in football present at this time. Please check back for latest fixtures.
            <% } %>
          </div>
          <div class="col-md-2 col-lg-4 col-xl-3"></div>
        </div>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>